<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Thermastat.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4CE72B6C1CB5E40A00C64B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE72B801CB5E40A00C64B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4CE72B8B1CB5E40A00C64B9A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
